*{
  margin: 0;
  padding: 0;
}
body
{
	font-family: Arial, Helvetica, sans-serif;
	background: -moz-linear-gradient(top, #817253 15%,#ffffff 55% no-repeat);
	background: -webkit-linear-gradient(top, #817253 15%,#ffffff 55% no-repeat);
}
a{
  text-decoration: none;
}

header
{
  width: 100%;
}



#wrapper
{
  width: 960px;
  margin: 0 auto;
}

#shadow
{
  width: 100% ;
  float: left;
  box-shadow:  5px 5px 20px #b9b29f;
}
#animation
{
  width: 750px;
  height: 300px;
  float: left;
}
#animation embed
{
  width: 750px ;
  height: 300px;
  
}

#logo {
	width: 340px;
	height: 44;
	background:url(image/logo-old.png) no-repeat center #db6516;
	float: left;
	margin-left: 10px;
	margin-top: -304px;
	text-align: center;
	padding-top: 85px;
	border-radius: 0px 0px 15px 15px; 
}

#logo a
{
  color: white;
  font-size: 40px;

}

#right-menu
{
  float: right;
  width: 190px;
  height: 300px;
  background-color: #db6516;
  margin-top: -304px;
  padding-left: 40px;
}

#right-menu ul
{
  list-style-type: none;
  height: 40px;
  line-height: 40px;
}
#right-menu ul li
{
  border-bottom: 1px solid black;
  
}

#right-menu ul li:last-child
{
  border: 0;
}

#right-menu ul li a{
  color: white;
  font-size: 18px;
}

#right-menu ul li:hover
{
  background-color: #95450f;
  -moz-transition: all 900ms linear;
  -webkit-transition: all 900ms linear;
}
#head-content {
	background: url(image/head_content.png) no-repeat;
	width: 100%;
	float: left;
	padding-top: 80px;
	margin-top: -60px;
}
#head-content .wrap-headcontent {
	float: left;
	width: 100%;
	background: url(image/headcontentbackground.png) repeat-y;
}
#head_content {
	background: url(image/head_content.png) no-repeat;
	width: 100%;
	float: left;
	padding-top: 80px;
	margin-top: -60px;
}
#head_content .wrap_headcontent {
	float: left;
	width: 100%;
	background: url(image/headcontentbackground.png) repeat-y;
}
#head-content .content {
	width: 190px;
	padding: 0px 15px 15px 15px;
	margin: 0 10px;
	min-height: 150px;
	float: left;
}
#head-content .wrap-headcontent span {
	color: #db6516;
	font-size: 20px;
	margin: 15px 0px;
	width: 190px;
	float: left;
}
#content {
	width: 100%;
	float: left;		
}
#left-content {
	width: 316px;
	min-height: 610px;
	padding: 12px;
	margin: 10px;
	float: left;
	background: -moz-linear-gradient(top, #f4f3ef 15%, #cfcabd 55%) no-repeat;
	background: -webkit-linear-gradient(top, #f4f3ef 15%, #cfcabd 55%) no-repeat;			
}
#left-content video {
	width: 316px;
	height: 188px;		
}
#right-content{
	width: 500px;
	float: left;
	padding: 40px 50px 0px 50px ;
}
#right-content .category-content{
width: 500px;
float: left;
}
#right-content .category-content span{
width: 500px;
font-size: 34px;
color: #db6516;
}
#right-content .category-content p{
	margin: 20px 0px;
}
#right-content .article-content{
float: left;
width:  500px;
margin-bottom: 20px;
}
#right-content .image-colum{
	float: left;
	margin-right:  15px;
}
#right-content .image-colum img{
	width: 140px;
	height: 90px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 2px black;
}
#right-content .text-colum{
	float: left;
	width: 340px;

}
#right-content .text-colum a{
	font-size: 20px;
	color: #eda011;
}
#right-content .text-colum span{
	color: #e1c78c;
}
footer {
	width: 100%;
	background: url(image/footer.png) center no-repeat;
	height: 315px;
	position: fixed;
	bottom: 0px;
}
footer .footer_content {
	width: 940px;
	margin: 0 auto;
	padding: 275px 10px 0px 10px;
}
footer .footer_content .left_footer {
	width: 340px;
	height: 30px;
	float: left;
}
#txtSearch {
	width: 260px;
	height: 30px;
	float: left;
	border: 0;
	background-color: #e8d3a5;
	border-radius: 15px 0px 0px 15px;	
}
#btnSearch {
	width: 77px;
	height: 30px;
	float: left;
	background-color: #db6516;
	color: white;
	border-radius: 0px 15px 15px 0px;
	cursor: pointer;
}
footer .footer_content .right_footer {
	float: right;
	color: white;
}